.main {
    padding: 20px;
    perspective: 100%;
    position: relative;

    &__img {
        width: 200px;
        margin: 0 auto;
        z-index: 10;
    }

    &__cta {
        position: relative;
        top: -20px;
        margin: 0 auto;
        width: 70%;
        border-radius: 20px;
        background-color: rgb(240, 240, 240);
        text-align: center;
        transform: perspective(10px) rotateX(-.2deg);

        &--padding {
            padding: 30px;
        }
    }


    &__title {
        text-transform: uppercase;
    }

    &__button {
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        background-color: #363636;
        color: #ffffff;
        margin-bottom: 20px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: gray;
        }
    }
}

.activity {
    &__title {
        text-align: center;
        margin-bottom: 20px;
    }

    &__text {
        text-align: center;
        font-weight: 500;
        color: #363636;
        margin-bottom: 20px;
    }

    &__button {
        display: block;
        margin: 0 auto;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        background-color: #7D77FE;
        color: #ffffff;
        margin-bottom: 20px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #443aff;
        }
    }
}