<app-header></app-header>

<div class="showcase">
    <app-menu (filterActivity)="onFilterActivities($event)"></app-menu>
    <div class="main flex">
        <img class="main__img" src="assets/img/img34-removebg.png" alt="">
        <div class="main__cta">
            <div class="main__cta--padding">
                <h1 class="main__title">Troba alguna cosa a fer</h1>
                <button class="main__button" (click)="getRandom()">Generar</button>
            </div>
        </div>
    </div>
</div>

@if(activityOn()) {
<div class="activity">
    <h2 class="activity__title">Activitat:</h2>
    <p class="activity__text">{{random?.activity}}</p>
    <button class="activity__button">Más</button>
</div>
}

@if(activitiesOn()) {
@for( activity of this.filterActivities; track $index) {
<h3>{{ activity.activity }}</h3>
<p>Type: {{ activity.type }}</p>
<p>Participants: {{ activity.participants }}</p>
<p>Price: {{ activity.price }}</p>
<p>Accessibility: {{ activity.accessibility }}</p>
<p>Duration: {{ activity.duration }}</p>
}

}