<app-header></app-header>

<div class="lg:flex items-center h-lvh justify-center max-w-screen-lg mx-auto">
    <div class="showcase lg:border-dashed lg:border-r-2 lg:border-black lg:w-full">
        <app-menu (filterActivity)="onFilterActivities($event)" (dataFetched)="onFilterData($event)"></app-menu>

        <div class="main flex flex-col">
            <img class="main__img" src="assets/img/img34-removebg.png" alt="">
            <div class="main__cta">
                <div class="main__cta--padding">
                    <h1 class="main__title font-semibold">Troba alguna cosa a fer</h1>
                    <button
                        class="px-6 py-3 text-white duration-150 bg-gray-600 rounded-md hover:bg-gray-700 active:shadow-lg"
                        (click)="getRandom(); scrollTo()">Generar</button>
                </div>
            </div>
        </div>
    </div>
    <div #activity class="cards lg:w-full">
        @if(random() && isDataFetched()) {
        <section class="max-w-screen-lg mx-auto p-4 md:px-8">
            <div>
                <h1 class="text-gray-800 text-3xl font-semibold text-center">Activitat:</h1>
            </div>
            <ul class="mt-12 space-y-6">
                <div>
                    <li class="p-5 bg-white rounded-md shadow-sm">
                        <a>
                            <div>
                                <div class="justify-between lg:flex lg:flex-col">
                                    <div class="flex-1">
                                        <h3 class="text-xl font-medium text-cyan-600">{{random()?.accessibility}}</h3>
                                        <p class="text-gray-500 mt-2 pr-2">{{random()?.activity}}</p>
                                    </div>
                                    <div class="mt-5 text-sm">
                                        <span class="flex items-center text-gray-500 mb-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2"
                                                fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd"
                                                    d="M12 2a10 10 0 100 20 10 10 0 000-20zM3.293 12a8.707 8.707 0 0117.414 0 8.707 8.707 0 01-17.414 0zM12 6a1 1 0 011 1v4.586l3.707 3.707a1 1 0 11-1.414 1.414l-4-4A1 1 0 0111 11V7a1 1 0 011-1z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span>{{random()?.duration}}</span>
                                        </span>
                                        <span class="flex items-center text-gray-500 mb-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2"
                                                viewBox="0 0 20 20" fill="currentColor">
                                                <path
                                                    d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z" />
                                                <path fill-rule="evenodd"
                                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span>{{random()?.price}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="text-sm lg:flex lg:flex-col">
                                    <span class="flex items-center text-gray-500 mb-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="currentColor"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M12 2C11.4477 2 11 2.44772 11 3V7.58579L9.70711 6.29289C9.31658 5.90237 8.68342 5.90237 8.29289 6.29289L1.29289 13.2929C0.902369 13.6834 0.902369 14.3166 1.29289 14.7071C1.68342 15.0976 2.31658 15.0976 2.70711 14.7071L9 8.41421L11 10.4142V14.5858L8.70711 12.2929C8.31658 11.9024 7.68342 11.9024 7.29289 12.2929L0.292892 19.2929C-0.0976311 19.6834 -0.0976311 20.3166 0.292892 20.7071C0.68342 21.0976 1.31658 21.0976 1.70711 20.7071L8 14.4142L12 18.4142L16 14.4142L22.2929 20.7071C22.6834 21.0976 23.3166 21.0976 23.7071 20.7071C24.0976 20.3166 24.0976 19.6834 23.7071 19.2929L16.7071 12.2929C16.3166 11.9024 15.6834 11.9024 15.2929 12.2929L13 14.5858V10.4142L15 8.41421L21.2929 14.7071C21.6834 15.0976 22.3166 15.0976 22.7071 14.7071C23.0976 14.3166 23.0976 13.6834 22.7071 13.2929L15.7071 6.29289C15.3166 5.90237 14.6834 5.90237 14.2929 6.29289L13 7.58579V3C13 2.44772 12.5523 2 12 2Z" />
                                        </svg>
                                        <span>{{random()?.type}}</span>
                                    </span>
                                    <span class="flex items-center text-gray-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="currentColor"
                                            viewBox="0 0 20 20">
                                            <path fill-rule="evenodd"
                                                d="M7 8a3 3 0 100-6 3 3 0 000 6zM5 10a5 5 0 00-5 5v1a1 1 0 001 1h10a1 1 0 001-1v-1a5 5 0 00-5-5H5zm8-2a3 3 0 110-6 3 3 0 010 6zm-2 2a5.978 5.978 0 012.496.571c.15.065.292.138.432.215A4.978 4.978 0 0115 15v1a1 1 0 01-1 1h3a1 1 0 001-1v-1a5 5 0 00-5-5h-1z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        <span>{{random()?.participants}}</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
            </ul>
        </section>
        } @else {
        @if(isDataFetched() && random() === null) {
        <section class="mx-auto md:px-8 p-5 ">
            <div class="bg-white rounded-md shadow-sm p-5">
                <div>
                    <p class="text-gray-800 text-md font-semibold text-center">No és possible accedir a les activitats,
                        intenteu més tard si us plau...
                    </p>
                </div>
                <div class="flex justify-center mt-5">
                    <fa-icon class="fa-2xl text-red-600" [icon]="faBan"></fa-icon>
                </div>
            </div>

        </section>
        }
        }
        <!-- Activity Random finish-->


        <!-- Start activities by type -->
        <div #activities>
            @if(filterActivities() && isFilteredDataFetched()) {
            <section class="mx-auto p-4 md:px-8">
                <div>
                    <h1 class="text-gray-800 text-3xl font-semibold text-center">Activitats:</h1>
                </div>
                <ul class="mt-2 space-y-6">
                    @for( activity of filterActivities(); track $index) {
                    @if(currentIndex() === $index) {
                    <div [@fade]='isFade() ? "start" : "end"'>
                        <li class="p-5 bg-white rounded-md shadow-sm">
                            <div class="justify-between sm:flex">
                                <div class="flex-1">
                                    <h3 class="text-xl font-medium text-cyan-600">{{activity.accessibility}}</h3>
                                    <p class="text-gray-500 mt-2 pr-2">{{activity.activity}}</p>
                                </div>
                            </div>
                            <div class="flex justify-between">
                                <div class="justify-between lg:flex lg:flex-col">
                                    <div class="mt-4 text-sm">
                                        <span class="flex items-center text-gray-500 mb-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2"
                                                fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd"
                                                    d="M12 2a10 10 0 100 20 10 10 0 000-20zM3.293 12a8.707 8.707 0 0117.414 0 8.707 8.707 0 01-17.414 0zM12 6a1 1 0 011 1v4.586l3.707 3.707a1 1 0 11-1.414 1.414l-4-4A1 1 0 0111 11V7a1 1 0 011-1z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span>{{activity.duration}}</span>
                                        </span>
                                        <span class="flex items-center text-gray-500 mb-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2"
                                                viewBox="0 0 20 20" fill="currentColor">
                                                <path
                                                    d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z" />
                                                <path fill-rule="evenodd"
                                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span>{{activity.price}}</span>
                                        </span>
                                    </div>
                                    <div class="text-sm">
                                        <span class="flex items-center text-gray-500 mb-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2"
                                                fill="currentColor" viewBox="0 0 24 24">
                                                <path
                                                    d="M12 2C11.4477 2 11 2.44772 11 3V7.58579L9.70711 6.29289C9.31658 5.90237 8.68342 5.90237 8.29289 6.29289L1.29289 13.2929C0.902369 13.6834 0.902369 14.3166 1.29289 14.7071C1.68342 15.0976 2.31658 15.0976 2.70711 14.7071L9 8.41421L11 10.4142V14.5858L8.70711 12.2929C8.31658 11.9024 7.68342 11.9024 7.29289 12.2929L0.292892 19.2929C-0.0976311 19.6834 -0.0976311 20.3166 0.292892 20.7071C0.68342 21.0976 1.31658 21.0976 1.70711 20.7071L8 14.4142L12 18.4142L16 14.4142L22.2929 20.7071C22.6834 21.0976 23.3166 21.0976 23.7071 20.7071C24.0976 20.3166 24.0976 19.6834 23.7071 19.2929L16.7071 12.2929C16.3166 11.9024 15.6834 11.9024 15.2929 12.2929L13 14.5858V10.4142L15 8.41421L21.2929 14.7071C21.6834 15.0976 22.3166 15.0976 22.7071 14.7071C23.0976 14.3166 23.0976 13.6834 22.7071 13.2929L15.7071 6.29289C15.3166 5.90237 14.6834 5.90237 14.2929 6.29289L13 7.58579V3C13 2.44772 12.5523 2 12 2Z" />
                                            </svg>
                                            <span>{{activity.type}}</span>
                                        </span>

                                        <span class="flex items-center text-gray-500">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2"
                                                fill="currentColor" viewBox="0 0 20 20">
                                                <path fill-rule="evenodd"
                                                    d="M7 8a3 3 0 100-6 3 3 0 000 6zM5 10a5 5 0 00-5 5v1a1 1 0 001 1h10a1 1 0 001-1v-1a5 5 0 00-5-5H5zm8-2a3 3 0 110-6 3 3 0 010 6zm-2 2a5.978 5.978 0 012.496.571c.15.065.292.138.432.215A4.978 4.978 0 0115 15v1a1 1 0 01-1 1h3a1 1 0 001-1v-1a5 5 0 00-5-5h-1z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span>{{activity.participants}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex justify-end items-end gap-4">
                                    @if(currentIndex() > 0) {
                                    <button (click)="previousCard()"
                                        class="w-10 h-10 text-white duration-150 bg-indigo-600 rounded-full hover:bg-indigo-500 active:bg-indigo-700"><fa-icon
                                            class="fa-xs" [icon]="faArrowLeft"></fa-icon></button>
                                    }
                                    @if(currentIndex() < (filterActivities()!.length - 1) ) { <button
                                        (click)="nextCard()"
                                        class="w-10 h-10 text-white duration-150 bg-indigo-600 rounded-full hover:bg-indigo-500 active:bg-indigo-700">
                                        <fa-icon class="fa-xs" [icon]="faArrowRight"></fa-icon></button>
                                        }
                                </div>
                            </div>
                        </li>
                    </div>
                    }

                    }
                </ul>
            </section>
            }@else {
            @if(isFilteredDataFetched() && filterActivities() === null) {
            <section class="mx-auto md:px-8 p-5 ">
                <div class="bg-white rounded-md shadow-sm p-5">
                    <div>
                        <p class="text-gray-800 text-md font-semibold text-center">No és possible accedir a les
                            activitats,
                            intenteu més tard si us plau...
                        </p>
                    </div>
                    <div class="flex justify-center mt-5">
                        <fa-icon class="fa-2xl text-red-600" [icon]="faBan"></fa-icon>
                    </div>
                </div>

            </section>
            }
            }
            <!-- end activities by type -->
        </div>
    </div>
</div>