<ul class="menu">
    <div class="menu__one">
        <li class="menu__item"><button
                class="px-4 py-2 text-sm text-black hover:text-white duration-300 bg-gray-200 rounded-full hover:bg-indigo-500 active:bg-indigo-700"
                (click)="getActivity('busywork')">Feina</button></li>
        <li class="menu__item"><button
                class="px-4 py-2 text-sm text-black hover:text-white duration-300 bg-gray-200 rounded-full hover:bg-indigo-500 active:bg-indigo-700"
                (click)="getActivity('charity')">Caritat</button></li>
        <li class="menu__item"><button
                class="px-4 py-2 text-sm text-black hover:text-white duration-300 bg-gray-200 rounded-full hover:bg-indigo-500 active:bg-indigo-700"
                (click)="getActivity('cooking')">Cuinar</button></li>
        <li class="menu__item"><button
                class="px-4 py-2 text-sm text-black hover:text-white duration-300 bg-gray-200 rounded-full hover:bg-indigo-500 active:bg-indigo-700"
                (click)="getActivity('education')">Educació</button></li>
    </div>
    <div class="menu__two">
        <li class="menu__item"><button
                class="px-4 py-2 text-sm text-black hover:text-white duration-300 bg-gray-200 rounded-full hover:bg-indigo-500 active:bg-indigo-700"
                (click)="getActivity('recreational')">Recreatiu</button>
        </li>
        <li class="menu__item"><button
                class="px-4 py-2 text-sm text-black hover:text-white duration-300 bg-gray-200 rounded-full hover:bg-indigo-500 active:bg-indigo-700"
                (click)="getActivity('relaxation')">Relaxació</button></li>
        <li class="menu__item"><button
                class="px-4 py-2 text-sm text-black hover:text-white duration-300 bg-gray-200 rounded-full hover:bg-indigo-500 active:bg-indigo-700"
                (click)="getActivity('social')">Social</button></li>
    </div>

</ul>